* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-control {
    width: 50%;
    border-radius: 5px;
    border: 2px solid rgb(81, 78, 78);
    padding: 20px;
    font-size: 4rem;
    color: rgb(34, 33, 33);
}

.fonte-veremlha {
    color: red;
}

.tamanho-font-20 {
    font-size: 2.2rem;
}

.btn-padrao {
    width: 50%;
    border-radius: 5px;
    border: 2px solid rgb(81, 78, 78);
    padding: 20px;
    font-size: 4rem;
    background: red;
    cursor: pointer;
}

.btn-padrao:hover {
    background-color: rgb(188, 9, 45);
}

.container {
    background-color: gray;
    width: 100%;
    height: 100vh;
    padding: 10px;
    text-align: center;
}

.logo {
    width: 100%;
    height: 20%;
    background-color: gray;
}